[Unit]
Description=TF-Hub Flask microservice

[Install]
WantedBy=multi-user.target

[Service]
User=ubuntu
PermissionsStartOnly=true
ExecStart=/home/ubuntu/simple_flask_tfhub/app.py
TimeoutSec=600
Restart=on-failure
RuntimeDirectoryMode=755